* {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#modalKontakt {
    width: 35vw;
    border: 1px solid black;
    border-radius: 5px;
}

i{
    color: skyblue;
}

input {
    height: 1.5em;
}

#newsletterCheck {
    height: 1em;
}

#formInput {
    display: flex;
    flex-direction: column;
}

#poruka {
    height: 5em;
    resize: none;
}

button {
    border-radius: 5px;
    height: 2em;
    width: 6em;
}

#posalji {
    background-color: royalblue;
}

#odustani {
    background-color: lightcoral;
}